body{
  margin:0;
  background-color:Darkcyan;
}
.profile-card{
height:130px;
}
.cardimage-top{
  position:relative;
  right:350px;
  bottom:600px;
  z-index:-1;
}
.card{
  max-width:340px;
  height:350px;
  margin:auto;
  background-color: white;
  border-radius: 20px;
}
.cardprint{
  position: relative;
  z-index:10;
}
